
%h2 Your cart
%table.cart_index
  %th Item name
  %th Quantity
  %th Actions
  - @cart.each do |item|
    %tr
      %td= "#{item.product.name}"
      %td= "#{item.quantity}"
      %td= link_to 'delete', shopping_cart_delete_path(item.product), { method: 'post' }

%p
= "Total: #{calculate_total}"
