- if flash[:notice]
  .alert-success.alert= flash[:notice]

.panel.panel-primary.col-md-6{ style: "padding: 15px;" }
  %legend Your cart
  %table.table.table-striped
    %th Item name
    %th Quantity
    %th Unit price
    %th Actions
    - @cart.each do |item|
      %tr
        %td= "#{item.product.name}"
        %td= "#{item.quantity}"
        %td= "#{item.product.price}"
        %td= button_to 'delete', shopping_cart_delete_path(item.product), { method: 'post', class: 'btn btn-sm btn-danger' }

  %p
  = "Total: #{calculate_total}"
