- if flash[:notice]
  .alert-success.alert= flash[:notice]

%h2 Product list

.row
- @products.each do |product|
  .col-md-4
    .product-wrapper.well
      %legend
        = link_to product.name.capitalize, product_path(product.id)
      %p= "Price: #{product.price}"
      %p= "Added #{time_ago_in_words(product.created_at)} ago."

      %p= "Comments: #{product.comments.count}"
      = shopping_cart_button(product.id)
