
%legend= "#{@product.name.capitalize}"

%p
  = button_to 'Add your comment!', new_product_comment_path(@product.id), { method: 'get', class: 'btn btn-primary' }

- if @product.comments.any?
  %p Comments:
- else
  %p No comments.

- @product.comments.each do |comment|
  %p= "> #{comment.content}"
