<!DOCTYPE html>
<html>
<head>
  <title>ShoppingSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

<div>
  <% if current_user %>
    Hello <%= current_user.email %>!
    You have <%= shopping_cart_count %> items in your cart.
    <%= link_to 'Checkout / Edit your cart', view_cart_path %>
  <% else %>
    <%= link_to 'Login to start shopping!', new_user_session_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
